:root {
/*fonts*/
--inter: 'Inter', sans-serif;
--Lexend-Deca: 'Lexend Deca', sans-serif;
/*colors*/
--Very-dark-blue: #090b1a;
--Dark-desaturated-blue: #1b1938;
--Soft-violet: #aa5cdb;
--White: #ffffff;
--gray: #e6e4e8;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
font-size: 62.5%;
font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif;
}

.main-container {
    width: 100vw;
    height: 100vh;
    min-width: 320px;
    background-color: var(--Very-dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.stadistics-card {
    width: 240px;
    height: auto;
    border-radius: 10px;
    background-color: var(--Dark-desaturated-blue);
}

picture {
    display: inline-block;
    background-color: var(--Soft-violet);
    height: 200px;
    border-radius: 10px 10px 0 0;
}

.image-card img {
    max-width:240px;
    height: 200px;
    mix-blend-mode: multiply;
    filter: grayscale(100%);
}

.stadistics-card__info{
    height: 400px;
}

.card-info__title {
    
    font-family: var(--inter);
    color: var(--White);
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-align: center;
    margin-top: 5px;
    margin: 20px;
}

.word-color {
    color: var(--Soft-violet);
}

.card-info__paragraph {
    font-family: var(--inter);
    color: var(--gray);
    text-align: center;
    font-size: 1.1rem;
    line-height: 2.5rem;
    margin: 25px;
    font-weight: 200;
}

.stadistics-number{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.numbers-companies, .templates-numbers, .queries-numbers {
    color: var(--White);
    text-align: center;
    font-size: 1.6rem;
   
}

.companies-paragraph, .templates-paragraph, .queries-paragraph{
    font-family: var(--Lexend-Deca);
    color: var(--gray);
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 2.5rem;
    margin-top: 0.5rem;
}

@media (min-width:475px) {

    .stadistics-card {
        width: 436px;
        height: 200px;
        display: flex;
        flex-direction: row-reverse;
    }

    .stadistics-card__info{
        width: 237px;
    }

    .card-info__title{
        text-align: left;
        font-size: 1.4rem;
        margin: 25px 20px 15px;
    }

    picture {
        width: 239px;
        border-radius: 0 5px 5px 0;
    }

    .card-info__paragraph {
        text-align: left;
        font-size: 0.6rem;
        line-height: 1.2rem;
        margin: 10px 35px 40px 20px;       
    }

    .stadistics-numbers{
        display: flex;
        justify-content: space-around;
        margin: 1px 25px 25px 0px;
    }

    .numbers-companies, .templates-numbers, .queries-numbers {
        text-align: left;
        font-size: 0.8rem;
    }

    .companies-paragraph, .templates-paragraph, .queries-paragraph{
        font-size: 0.4rem;
    }
   
}